
.container {
    border: 1px solid blue;
    width: 90%;
    margin: auto; 
    padding: 1%; 
    overflow: auto;
    
}
.form{
    width: 100%;
    text-align: center;
    margin: 20px;
    display: flex;
}
.form-action{
    margin-left: 300px;
}

/* .control{
    height: 180px;
} */

/* .itemID {
    display: inline-block;
    width: 10%;
    text-align: center;
}
.bodyitem{
    border: 1px solid red;
    width: 90%;
    height: 30%;
    margin: auto;
    padding: 1%;
}
.question{
    display: inline-block;
    padding: 1%;
    width: 65%;
}
.btnaction{
    display: inline-block;
    text-align: center;
    width: 20%;
}
.btnItem{
    padding: 3%;
    width: auto;
    margin-right: 2%;
    text-align: right;

} */